.red{
    background: red;
    color: white;
}

.blue{
    background: blue;
    color: white;
}

.box{
    height: 150px;
}

#box-2, #box-8, #box-5{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#box-4, #box-5, #box-6{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

/*rps*/

#playerScoreScreen{
    background: blue;
    color: white;
}

#comScoreScreen{
    background: red;
    color:white;
}

#hands{
    height: 50vh;
}

#rock, #paper, #scissors{
    height: 25vh;
}

