.main-menu{
    height: 100vh;
}

.main-menu h1{
    font-size: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.main-menu a{
    text-decoration: none;
}

#overlay{
    position: absolute;
    width: 20vw;
    height: 10vh;
    top: 40vh;
    left: 40vw;
    font-size: 5vw;
    color:  white;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}

#mode1{
    background-color:  #547AA5;
}

#mode1 a{
    color: #CC8B8C;
}

#mode1:hover{
    background-color: #00F2F2;
}

#mode2{
    background-color: darkgoldenrod;
}

#mode2 a{
    color: gold;
}

#mode2:hover{
    background-color: #BFBDC1;
}

/*ttt*/

.red{
    background: red;
    color: white;
}

.blue{
    background: blue;
    color: white;
}

.box{
    height: 150px;
    padding: 50px;
    font-size: 35px;
}

#box-2, #box-8, #box-5{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#box-4, #box-5, #box-6{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#redScore, #blueScore{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}